{% extends 'index.html' %}
{% load static %}
{% block content%}

<section id="chart" class="bg-cream   py-24">
    <div class="container mx-auto flex flex-wrap pt-4 pb-12 border-8 border-gray-500 rounded-full " style="height: 50vh;">
        <div class="w-full">
            <center>
                <h1 data-aos="fade-down" data-aos-once="true" class=" text-xl font-bold leading-tight text-darken capitalize">
                    <span> tentang pembuat <span>
                </h1>
                <img data-aos="fade-down"  src="https://i.postimg.cc/cL5nVkh1/3135715.png" alt="Founder"><br>
            </center>
        </div>
        <div>
            <p class="text-center">
                Nevin Adel Ramaputra dan Reza Fahrizal Barkah, dua mahasiswa yang berasal dari Bandung, Jawa Barat, merupakan pembuat website ini. Mereka adalah mahasiswa aktif di UPI Serang dan berusia 19 tahun. <br>
                 Masing-masing memiliki keahlian yang terkait dengan pembuatan website ini, dengan Nevin bertanggung jawab atas bagian style dan CSS, sementara Reza bertanggung jawab atas program dan pengolahan data.
                <br> Tujuan utama pembuatan website ini adalah memberikan kemudahan bagi pengguna dalam mencari data MSY terkait PPN di Karangantu, serta menampilkan hasil yang berupa grafik dan peta persebaran ikan. <br>
                 Selain itu, website ini juga bertujuan untuk membantu pengguna dalam mengetahui lebih lanjut tentang kondisi populasi ikan di Karangantu dan mengambil tindakan yang tepat untuk menjaga keseimbangan ekosistem laut.
            </p>
        </div>
       
    </div>
</section>
{% endblock %}