{% extends 'index.html' %}


{% load static %}
{% block content%}

<section id="chart" class="bg-cream py-8">
    <div class="container mx-auto flex flex-wrap pt-4 pb-12  ">
        <!-- kotak satu  -->
        <div class="w-full md:w-1/2 p-6 flex flex-col flex-grow flex-shrink "
        data-aos="fade-down-left" data-aos-duration="3000">
        <div class=" ">
            <div class="bg-gray-900 border border-gray-800 rounded shadow ">
                <div class="border-b border-gray-800 p-3">
                    <h5 data-aos="fade-down" data-aos-duration="3000" class="font-bold uppercase text-gray-600">
                        Catch Of the Year</h5>
                </div>
                <div class="p-5">
                    <canvas id="COTY" class="chartjs" width="undefined" height="undefined"></canvas>
                </div>
                <div style="background: #33EFA0" class="w-32 h-32 rounded-full absolute z-0 left-4 -top-12 animate-pulse">
                </div>
                <div style="background: #33D9EF;" class="w-5 h-5 rounded-full absolute z-0 left-36 -top-14 animate-ping">
                </div>
        
                <div style="background: #5B61EB;" class="w-36 h-36 rounded-full absolute z-0 right-16 -bottom-1 animate-pulse">
                </div>
                <div style="background: #F56666;" class="w-5 h-5 rounded-full absolute z-0 right-52 bottom-1 animate-ping">
                </div>
            </div>
        </div>
    </div>
        <div class="w-full md:w-1/2 p-6 flex flex-col flex-grow flex-shrink  "
            data-aos="fade-down-right" data-aos-duration="3000">
            <div class=" h-full">
                <div class=" my-8">
                    <h1 class="text-darken font-semibold text-3xl leading-tight lg:pr-32"><span
                            class="text-yellow-500">Catch Of 
                            </span>The Year</h1>
                    <p class="my-5 lg:pr-14 mb-32">Grafik ini menunjukkan banyaknya hasil penangkapan ikan dalam satu tahun. Data yang ditunjukkan adalah jumlah hasil tangkap dalam ton. Grafik ini berguna untuk mengetahui seberapa banyak ikan yang berhasil ditangkap dalam setahun dan dapat memberikan informasi tentang keberhasilan industri perikanan dalam menangkap ikan. Selain itu, grafik ini juga dapat membantu kita mengetahui bagaimana kondisi populasi ikan di suatu tempat, apakah terjadi peningkatan atau penurunan dari tahun ke tahun. Dengan mengetahui hal ini, kita dapat mengambil tindakan yang tepat untuk menjaga keseimbangan ekosistem laut dan menghindari overfishing.</p>
                   
                </div>

            </div>
        </div>
       
    </div>
</section>
<section id="chart" class="bg-white  py-8">
    <div class="container mx-auto flex flex-wrap pt-4 pb-12  ">
        <!-- kotak satu  -->
        <div class="w-full md:w-1/2 p-6 flex flex-col flex-grow flex-shrink  "
            data-aos="fade-down-right" data-aos-duration="3000">
            <div class=" h-full">
                <div class=" my-8">
                    <h1 class="text-darken font-semibold text-3xl leading-tight lg:pr-32"><span
                            class="text-yellow-500">Catch Per Unit Effort</span>(CPUE)</h1>
                    <p class="my-5 lg:pr-14 mb-32">Catch Per Unit Effort (CPUE) atau Hasil Tangkap per Satuan Usaha merupakan salah satu indikator yang digunakan untuk mengukur efisiensi dari suatu usaha penangkapan ikan. CPUE dihitung dengan membagi jumlah ikan yang ditangkap dengan jumlah usaha yang dilakukan untuk menangkap ikan tersebut. CPUE biasanya diukur dalam satuan ikan per satuan waktu (misalnya ikan per jam, ikan per hari, atau ikan per trip). CPUE dapat digunakan untuk mengukur keberhasilan suatu usaha penangkapan ikan, mengidentifikasi masalah yang terjadi dalam usaha tersebut, dan menentukan tindakan yang perlu dilakukan untuk meningkatkan efisiensi usaha.</p>
                    
                </div>

            </div>
        </div>
        <div class="w-full md:w-1/2 p-6 flex flex-col flex-grow flex-shrink "
            data-aos="fade-down-left" data-aos-duration="3000">
            <div class=" ">
                <div class="bg-gray-900 border border-gray-800 rounded shadow ">
                    <div class="border-b border-gray-800 p-3">
                        <h5 data-aos="fade-down" data-aos-duration="3000" class="font-bold uppercase text-gray-600">
                            Catch Per Unit Effort (CPUE)</h5>
                    </div>
                    <div class="p-5">
                        <canvas id="CPUE" class="chartjs" width="undefined" height="undefined"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="chart" class="bg-cream   py-8">
    <div class="container mx-auto flex flex-wrap pt-4 pb-12  ">
        <!-- kotak satu  -->
        <div class="w-full md:w-1/2 p-6 flex flex-col flex-grow flex-shrink "
        data-aos="fade-down-left" data-aos-duration="3000">
        <div class=" ">
            <div class="bg-gray-900 border border-gray-800 rounded shadow ">
                <div class="border-b border-gray-800 p-3">
                    <h5 data-aos="fade-down" data-aos-duration="3000" class="font-bold uppercase text-gray-600">
                        Maximum Sustainable Yield (MSY)</h5>
                </div>
                <div class="p-5">
                    <canvas id="MSY" class="chartjs" width="undefined" height="undefined"></canvas>
                </div>
                <div style="background: #33EFA0" class="w-32 h-32 rounded-full absolute z-0 left-4 -top-12 animate-pulse">
                </div>
                <div style="background: #33D9EF;" class="w-5 h-5 rounded-full absolute z-0 left-36 -top-14 animate-ping">
                </div>
        
                <div style="background: #5B61EB;" class="w-36 h-36 rounded-full absolute z-0 right-16 -bottom-1 animate-pulse">
                </div>
                <div style="background: #F56666;" class="w-5 h-5 rounded-full absolute z-0 right-52 bottom-1 animate-ping">
                </div>
            </div>
        </div>
    </div>
        <div class="w-full md:w-1/2 p-6 flex flex-col flex-grow flex-shrink  "
            data-aos="fade-down-right" data-aos-duration="3000">
            <div class=" h-full">
                <div class=" my-8">
                    <h1 class="text-darken font-semibold text-3xl leading-tight lg:pr-32"><span
                            class="text-yellow-500">Grafik Bar and Line 
                            </span>Maximum Sustainable Yield (MSY) </h1>
                    <p class="my-5 lg:pr-14 mb-32">Maximum Sustainable Yield (MSY) adalah jumlah hasil tangkap ikan maksimum yang dapat diperoleh secara berkelanjutan dari suatu populasi ikan tanpa menyebabkan kemerosotan terhadap struktur dan produktivitas populasi tersebut. MSY dianggap sebagai tingkat tangkap yang optimal dari suatu populasi ikan, karena dengan memperoleh MSY, maka usaha penangkapan ikan akan dapat terus dilakukan secara berkelanjutan tanpa menyebabkan kehancuran populasi ikan. MSY merupakan salah satu dasar dari manajemen sumberdaya perikanan yang bertujuan untuk menjaga keseimbangan dan produktivitas ekosistem laut.</p>
                   
                </div>

            </div>
        </div>
       
    </div>
</section>
<script>
    new Chart(document.getElementById("MSY"), {
        "type": "bar",
        "data": {
            "labels": [{% for msy in datamsy %}'{{ msy.trip }}',{% endfor %}],
        "datasets": [{
            "label": "Yield",
            "data": [{% for msy in datamsy %} '{{ msy.ton }}', {% endfor %}],
        "borderColor": "rgb(255, 99, 132)",
        "backgroundColor": "rgba(255, 99, 132, 0.2)"
                }, {
            "label": "Predict Yield",
            "data": [{% for result in results %}'{{ result }}', {% endfor %}],
        "type": "line",
        "fill": false,
        "borderColor": "rgb(54, 162, 235)",
        "backgroundColor": "rgb(54, 162, 235)"
                  }]
            },
        "options": {
        "scales": {
            "yAxes": [{
                "ticks": {
                    "beginAtZero": true
                }
            }]
        }
    }
        });
</script>
<script>
    new Chart(document.getElementById("COTY"), {
        "type": "bar",
        "data": {
            "labels": [{% for msy in datamsy %}'{{ msy.tahun }}', {% endfor %}],
        "datasets": [{
            "label": "Catch",
            "data": [{% for msy in datamsy %}'{{ msy.ton }}', {% endfor %}],
        "fill": false,
        "backgroundColor": [{% for msy in datamsy %} "rgba(75, 192, 192, 0.2)", {% endfor %}],
    "borderColor": [{% for msy in datamsy %}"rgb(54, 162, 235)", {% endfor %}],
    "borderWidth": 1
                }]
            },
    "options": {
        "scales": {
            "yAxes": [{
                "ticks": {
                    "beginAtZero": true
                }
            }]
        }
    }
        });
</script>

<script>
    new Chart(document.getElementById("CPUE"), {
        "type": "line",
        "data": {
            "labels": [{% for msy in datamsy %}'{{ msy.trip }}',{% endfor %}],
        "datasets": [{
            "label": "CPUE",
            "data": [{% for msy in datamsy %}'{{ msy.CPUE }}', {% endfor %}],
        "fill": false,
        "borderColor": "rgb(255,255,255)",
        "lineTension": 0.1
                }]
            },
        "options": {}
        });
</script>

<script>
    new Chart(document.getElementById("chartjs-7"), {
        "type": "bar",
        "data": {
            "labels": [{% for msy in datamsy %}'{{ msy.trip }}',{% endfor %}],
        "datasets": [{
            "label": "Yield",
            "data": [{% for msy in datamsy %} '{{ msy.ton }}', {% endfor %}],
        "borderColor": "rgb(255, 99, 132)",
        "backgroundColor": "rgba(255, 99, 132, 0.2)"
        }, {
            "label": "Predict Yield",
            "data": [{% for result in results %}'{{ result }}', {% endfor %}],
        "type": "line",
        "fill": false,
        "borderColor": "rgb(54, 162, 235)",
        "backgroundColor": "rgb(54, 162, 235)"
          }]
    },
        "options": {
        "scales": {
            "yAxes": [{
                "ticks": {
                    "beginAtZero": true
                }
            }]
        }
    }
});
</script>



<script>


    /*Toggle dropdown list*/
    /*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/

    var userMenuDiv = document.getElementById("userMenu");
    var userMenu = document.getElementById("userButton");

    var navMenuDiv = document.getElementById("nav-content");
    var navMenu = document.getElementById("nav-toggle");

    document.onclick = check;

    function check(e) {
        var target = (e && e.target) || (event && event.srcElement);

        //User Menu
        if (!checkParent(target, userMenuDiv)) {
            // click NOT on the menu
            if (checkParent(target, userMenu)) {
                // click on the link
                if (userMenuDiv.classList.contains("invisible")) {
                    userMenuDiv.classList.remove("invisible");
                } else { userMenuDiv.classList.add("invisible"); }
            } else {
                // click both outside link and outside menu, hide menu
                userMenuDiv.classList.add("invisible");
            }
        }

        //Nav Menu
        if (!checkParent(target, navMenuDiv)) {
            // click NOT on the menu
            if (checkParent(target, navMenu)) {
                // click on the link
                if (navMenuDiv.classList.contains("hidden")) {
                    navMenuDiv.classList.remove("hidden");
                } else { navMenuDiv.classList.add("hidden"); }
            } else {
                // click both outside link and outside menu, hide menu
                navMenuDiv.classList.add("hidden");
            }
        }

    }

    function checkParent(t, elm) {
        while (t.parentNode) {
            if (t == elm) { return true; }
            t = t.parentNode;
        }
        return false;
    }


</script>


{% endblock %}