{% extends 'index.html'%}
{% load static %}
{% block content%}

<div class="md:w-full relative h-11  mt-6">
    <h1 class="font-semibold text-darken text-3xl text-center">
        Peta Citra Potensi Persebaran Ikan
    </h1>
</div>
<div class="flex">
    <div class="md:w-6/12 relative   content-center ">

        <h1 class="font-semibold text-darken text-2xl text-center ">Persebaran Ikan Menggunakan<span
                class="text-yellow-500"><br> Klorofil-a / (Chl-a)</span></h1>

        <p class="text-justify text-gray-500 my-5 px-14">
            Persebaran ikan yang diperoleh dengan menggunakan penggabungan citra 2-3 yang menghasilkan campuran warna
            masing-masing memiliki tingkat kandungan klorofil yang berbeda di setiap wilayah. Semakin pekat warna dari
            citra tersebut, maka semakin baik pula potensi sebaran ikan , karena tingkat kandungan zooplankton yang
            tinggi menunjukkan adanya banyak klorofil-a . Sebaliknya, jika warna citra semakin pucat, maka tingkat
            kandungan klorofil-a akan semakin rendah dan potensi sebaran ikan pun akan semakin rendah.
        </p>
    </div>
    <div class="md:w-6/12 relative  content-center ">

        <h1 class="font-semibold text-darken text-2xl text-center">Persebaran Ikan Menggunakan<span
                class="text-yellow-500"><br> Suhu Permukaan Air Laut</span></h1>

        <p class="text-justify text-gray-500 my-5 px-14">
            Persebaran ikan yang diperoleh dengan menggabungkan citra 10-11 dengan indeks vegetasi daratan (NDVI) dari
            citra 4-5 menghasilkan kombinasi warna yang terkait dengan suhu permukaan laut . Wilayah dengan suhu
            permukaan laut yang masih stabil menunjukkan bahwa ada habitat ikan yang sehat , sehingga suhu merupakan
            indikator potensi persebaran ikan yang baik . Warna yang semakin pekat menunjukkan suhu permukaan laut yang
            semakin dingin, sedangkan warna yang semakin pucat menunjukkan suhu permukaan laut yang semakin panas.
        </p>
    </div>

</div>

<div class="px-32" style="height:400px; ">
    <div id="map" class="border-8 border-cream"></div>
</div>

<div class="flex px-32">
    <div class=" my-10 text-center text-white capitalize md:w-full p-5 border-8 border-cream">
        <h1 class="font-semibold text-darken text-2xl text-center ">Suhu Permukaan <span class="text-yellow-500"> Air
                Laut</span></h1>
        <div class="border-4 border-cream">
            <object data="{% static 'legenda/suhu/' %}{{name_suhu_layout}}" type="application/pdf" width="100%" height="500">
                <p>Alternative text for browsers that do not support PDF.</p>
              </object>
        </div>
        <h1>Suhu</h1>
        <a href="{% static 'legenda/suhu/' %}{{name_suhu_layout}}"
            class=" inline-block px-6 py-2.5 bg-green-500 text-white font-medium text-xs leading-tight uppercase  rounded-full shadow-md hover:bg-green-600 hover:shadow-lg focus:bg-green-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-700 active:shadow-lg transition duration-150 ease-in-out"
            download="{{name}}">Download layout</a>
    </div>
    <div class=" my-10 text-center text-white capitalize md:w-full p-5 border-8 border-cream">
        <h1 class="font-semibold text-darken text-2xl text-center ">Klorofil-a /<span class="text-yellow-500">
                (Chl-a)</span></h1>
        <div class="border-4 border-cream">
            <object data="{% static 'legenda/krolofil/' %}{{name_krolofil_layout}}" type="application/pdf" width="100%" height="500">
                <p>Alternative text for browsers that do not support PDF.</p>
              </object>
        </div>
        <h1>Krolofil</h1>
        <a href="{% static 'legenda/krolofil/' %}{{name_krolofil_layout}}"
            class=" inline-block px-6 py-2.5 bg-green-500 text-white font-medium text-xs leading-tight uppercase  rounded-full shadow-md hover:bg-green-600 hover:shadow-lg focus:bg-green-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-700 active:shadow-lg transition duration-150 ease-in-out"
            download="{{name}}">Download layout</a>
    </div>
</div>


<!-- include your geojson file -->


<script>

    // create a map and set the view
    var map = L.map('map').setView([-6.188697, 105.827727], 9);

    // add a tile layer to the map
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    // create a function to style the geojson data based on a property value
    function getColor(d) {
        return d == 5 ? '#193870' :
            d == 4 ? '#3F69B2 ' :
                d == 3 ? '#5680C8 ' :
                    d == 2 ? '#9ABFFF ' :
                        d == 1 ? '#C1D1ED ' : '#C1D1ED ';
    }
    function style(feature) {
        return {
            weight: 0,
            opacity: 0,
            color: 'green',
            dashArray: '3',
            fillOpacity: 10,
            fillColor: getColor(feature.properties.gridcode)
        };
    }

    // add the geojson data to the map and style it using the function
    var geojson1 = L.geoJSON(chlorophyll, { style: style });
    var geojson2 = L.geoJSON(temperature, { style: style });
    var group = L.layerGroup([geojson1, geojson2]);
    group.addTo(map);
    geojson1.addTo(map);
    geojson2.removeFrom(map);


    // create a base layer
    var baseLayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    });

    // create the control layer
    var control = L.control.layers(null, null, { collapsed: false });

    // add the layers to the control layer
    control.addOverlay(geojson1, 'chlorophyll');
    control.addOverlay(geojson2, 'temperature');

    // add the control layer to the map
    control.addTo(map);

    var control = L.control.layers(baseLayer, { 'Layer 1': geojson1, 'Layer 2': geojson2 }, { collapsed: false });

    var legend = L.control({ position: "bottomleft" });

    legend.onAdd = function (map) {
        var div = L.DomUtil.create("div", "legend");
        div.innerHTML += "<h4>Legenda</h4>";
        div.innerHTML += '<i style="background: #193870"></i><span>d = 1</span><br>';
        div.innerHTML += '<i style="background: #3F69B2"></i><span>d = 2</span><br>';
        div.innerHTML += '<i style="background: #5680C8"></i><span>d = 3 </span><br>';
        div.innerHTML += '<i style="background: #9ABFFF"></i><span>d = 4</span><br>';
        div.innerHTML += '<i style="background: #C1D1ED"></i><span>d = 5</span><br>';

        return div;
    };

    legend.addTo(map);
</script>
{% endblock %}